src/model/crnn_0907.pt
src/model/model_det/yolov4_512_0922.weights
src/model/model_det/yolov4_512_50004.weights
src/model/model_det/yolov4_512_41000.weights
src/ai_model/model/crnn_0907.pt
src/ai_model/model/model_det/yolov4_512_0922.weights
src/ai_model/model/model_det/yolov4_512_50004.weights
src/ai_model/model/model_det/yolov4_512_41000.weights
src/ai_model/bin/model/crnn_0907.pt
src/ai_model/bin/model/model_det/yolov4_512_0922.weights
src/ai_model/bin/model/model_det/yolov4_512_50004.weights
src/ai_model/bin/model/model_det/yolov4_512_41000.weights
src/ai_model/lib/libcudnn.so.7
src/ai_model/lib/libcurand.so.9.1
src/ai_model/lib/libcublas.so
src/ai_model/lib/libcublas.so.10.0.130
src/ai_model/lib/libtorch.so
src/ai_model/lib/SH_EUliE2_E7do_callEPvi
src/ai_model/lib/libcublas.so.9.1
src/ai_model/lib/libcurand.so.10.0
src/ai_model/lib/libcurand.so
src/ai_model/lib/libcublas.so.10.0
